.team-link {
    border: 2px solid black;
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
    border-radius: 15px;
    font-weight: 700;
}

.team-link:hover {
    color: white;
    background: black;
}

.team-link-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}